@model List<GuildCars.Models.Tables.Special>
@{
    ViewBag.Title = "Specials";
}

<h2>Specials</h2>
<div class="container">
    @foreach (var s in Model)
    {
        <div class="row border" style="margin: 15px;">
            <div class="col-md-2" style="margin: 15px;">
                <h5>@s.Title   </h5>
            </div>

            <div class="col-md-4" style="height: 50px; margin: 20px;">
                <p class="text-center">@s.Description</p>
            </div>

        </div>
    }
</div>
