
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Inventory Report", "Inventory", "Reports", new { area = "" }, new { @class = "nav-item nav-link" })
@Html.ActionLink("Sales Report", "Sales", "Reports", new { area = "" }, new { @class = "nav-item nav-link" })